.content {
  background-color: #133A6F;
  border-radius: 0.25rem;
  min-width: 387px;
  margin-top: 0.5rem;
  color: #fff;
  font-size: 1rem;
  min-height: 33px;
  display: flex;
  align-items: center;
}